<%- include("nav_bar.ejs", {sun_moon:"../media/svg/icons8-sun.svg"}) %>
<% var postId=id %> 
<% var url="/post/edit?postId="+postId %>
<% var urlDelete="/post/delete?postId="+postId %>
<% var content=result %>
<div class="the-blog">
    <div class="blog-content">
    <h1 class="blog-title"><%= content.title %></h1>
    <p class="body-text"><%= content.content %></p>
</div>
<% var canEdit=isAuthorized %>
<% if (isAuthorized==1) {%>
    <div class="btn-group">
    <div class="edit btn"><a href="<%= url %>">Edit</a></div>
            <form action="<%= urlDelete %>" method="post">
                <input class=" delete-btn btn" type="submit" value="Delete" />
            </form> </div>
<% }else{ %>
    <div class="author"><p>By, <%= content.username %></p></div>
    <% } %>
</div>
<%- include("footer.ejs") %>